* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


img {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: lightskyblue;
    font-family: 'Exo 2', sans-serif;

    font-size: 20px;
    color: #4e3939; 
}

.pulsante {
  background: #ee7560;
  border: 2px #ee7560 solid;
  color: white;
  text-decoration: none;
  padding: 10px 30px  ;
  font-size: 20px;
  line-height: 30px;
  border-radius: 10px;
  margin-top: 20px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.pulsante:hover {

  background: #fafafa;
  color: #ee7560;

}

header {
  background-color: white;
  padding: 10px 0;
}

header img {
  margin: 0 auto;
}

/* hero */

#hero img {
  width:  100%;
  height: auto;
}

#testo {
  width: 100%;
  max-width: 990px;
  padding: 100px 50px;
  margin: 0 auto;
  text-align: center;
}

#testo h1
{
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  line-height:  70px;
  padding-bottom: 20px;
  color: #ee7560;
}

/*vantaggi*/

#vantaggi
{
  color: #f8f3f0;
  padding: 100px 50px;
}

#vantaggi .flex-container {
  display: flex;
  justify-content: center;
}

#vantaggi .flex-container .flex-item {
  width: 300px;
  padding: 20px;
  text-align: center;
}

#vantaggi .flex-container .flex-item h2
  {
    font-family: 'Pacifico', cursive;
    color: #ee7560;
    padding: 0 0 10px;
  }

  /*form*/
  #form {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    padding: 100px 50px 100px 50px;
  }
  #form h2 {
    text-align: center;
    padding: 0 0 20px;
    font-family: 'Pacifico', cursive;
    color: #ee7560;
    font-size: 40px;
    line-height: 50px;
  }

  #form .flex-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  #form .flex-form .inputDiv {
    width: 33.3%;
    padding: 20px;
    text-align: center;
    
  }
  #form .flex-form .inputDiv label{
    display: block;
    text-align: left;
    padding: 0px 15px 10px;
    font-size: 12px;
    padding: 0px 15px 10px;
  }


  #form .flex-form .inputDiv.larghezza100 {
    width: 100%;
  }
  #form .flex-form .inputDiv input[type="text"],
  #form .flex-form .inputDiv input[type="email"],
  #form .flex-form .inputDiv textarea,
  #form .flex-form .inputDiv select

  {
    width: 100%;
    display: block;
    background: #fafafa;
    border-radius: 5px;
    padding: 15px;
    border: none;
    font-size: 15px;
  }

  #form .flex-form .radioDiv {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }

  #form .flex-form .inputDiv textarea {
    resize: none;
    height: 100px;
  }

/* privacy */

.privacy {
  font-family: 'Pacifico', cursive;
}



/* Footer */
footer {
  background: black;
  padding: 100px 50px;
  text-align: center;
  color: white;
  font-size: 12px;
}

footer a {
  color: white;
}

footer a:hover {
  color: #ff0000;
  text-decoration: none;

}

@media all and (max-width: 990px) {

  body {
    font-size: 16px;
    line-height: 24px
  }

  header img {
    width: 100px;
    height: auto;
  }

  #testo {
    padding: 50px 20px;
    }

  #testo h1
  {
    font-size: 30px;
    line-height:  50px;
    padding-bottom: 10px;
  }

  #vantaggi {
  padding: 50px 20px;
  }

#vantaggi .flex-container {
  flex-wrap: wrap;
  }

#vantaggi .flex-container .flex-item {
  width: 100%;
  }

  /*form*/
  #form {
  
    padding: 50px 20px;
  }

  #form h2 {
  
    padding: 0 0 10px 0;;
    font-size: 30px;
  }

  #form .flex-form .inputDiv {
    padding: 10px 0;
    width: 100%;
  }
  
  footer {
  padding: 50px 20px ;
  }


}


